<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <link rel="stylesheet" href="/web/css/Main.css">
    <link rel="stylesheet" href="/web/css/bootstrap.min.css">
    <script src="/web/js/angular.min.js"></script>
    <script src="/web/js/bootstrap.min.js"></script>
    <script src="/web/js/Main.js"></script>
</head>
<body>
<h2>Todo</h2>
<div ng-controller="TodoListController as todoList">
    <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
    [ <a href="" ng-click="todoList.archive()">archive</a> ]
    <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
    </ul>
    <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
    </form>
</div>
</body>
</html>